<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759788532035-3ii4765n4vfvrlep29707hdj2rtigsuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759788532035-3ii4765n4vfvrlep29707hdj2rtigsuc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759788532035-4no5e9r2ga6ku43vrr1okjmrlhvbkhl7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAufPs9FNUGyn834QyD3ZzabgqJX8c4Sgc</string>
	<key>GCM_SENDER_ID</key>
	<string>759788532035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokan.tokan</string>
	<key>PROJECT_ID</key>
	<string>tokan-57582</string>
	<key>STORAGE_BUCKET</key>
	<string>tokan-57582.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759788532035:ios:b17907cfc6397d54977ff6</string>
</dict>
</plist>